* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}


/* solution */

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto 5fr auto;
  gap: 8px;
  min-height: 100vh;
}

.header, .menu > ul {
  display: grid;
}

.header {
  grid-template-columns: 1fr 3fr;
  grid-column: 1 / 3;
}

.logo {
  text-align: left;
}

.menu > ul {
  list-style-type: none;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: right;
}
.menu {
  align-self: center;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  gap: 30px;
}
.sidebar > .side-content,
.sidebar > .photo {
  display: grid;
  align-items: center;
}

.nav {
  grid-column: 2 / 3;
}
.nav > ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.article {
  /* grid-column: 2 / 3; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article > .card p {
  padding: 5px
}

.footer {
  grid-column: 1 / 3;
}
